<!DOCTYPE html>
<html>
  <head>
    <title>Digestif</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
	<body class="<%= body_class %>">

    <div class="container">
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  </body>
</html>
